/* General Style */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    
}

body {
    background-image: linear-gradient(#AA43EA, #EE79FF, #5F33FF);
    box-shadow: inset 0 0 20px #662299;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 50px;
    flex: 1;
    
}

footer {
    bottom: 0;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 70px;
    align-items: center;
}

nav .openMenu, nav .closeMenu {
    display: none;
}

.openMenu i, .closeMenu i {
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    font-size: 18px;
}

li {
    text-decoration: none;
    list-style: none;
    
}


a {
    text-decoration: none;
    color: #FFFFFF    
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: #777777 0px 0px 5px;
    text-align: left;
}

.links {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.menu {
    justify-self: center;
}



.login {
    justify-self: flex-end;
}

h1 {
    padding-left: 50px;
}

h2, h3 {
    text-align: center;
}

h2:first-of-type {
    margin-top: 50px;
}

.centre {
    text-align: center;
    color: #FFFFFF;
    padding-left: 0;
    margin-top: 50px;
    font-size: 50px;
}

.alert {
    color: #FFFFFF;
    background-color: rgb(20, 20, 20, 0.4);
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

nav, div, form {
    -webkit-tap-highlight-color: transparent;
}


/* Div Classes */

.images img {
    height: 100px;
    border-radius: 180px;
    transition: all 0.2s ease-in-out;


}

.resources {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    flex-wrap: wrap;
    flex-direction: row;
}

.images {
    margin: 20px;
    background-image: linear-gradient(#EE79FF, #AA43EA, #5F33FF);
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    width: 250px;
    color: #FFFFFF;
}

.images p, .images h3 {
    text-align: center;
    margin: 10px

}

.images h3 {
    color: #000000;

}

.images:hover img {
    height: 110px;
    transition: all 0.2s ease-in-out;
}

.reveal {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Index */

@keyframes easeInOutCubic {
    0%, 100% {
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    50% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

.smiley {
    transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.smiley.initial-size img {
    height: 200px;
}

.smiley.smaller-size img {
    height: 50px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.quote {
    transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.quote.initial-size {
    height: 100vh;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.quote.initial-size p {
    padding-top: 70px;
}

.quote.smaller-size {
    height: 30vh;
    padding: 20px 20px 50px 20px;
    text-align: center;
    font-size: 30px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.smaller-size p {
    padding-top: 20px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.smiley {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.trio {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 50px 0;

}

.trio section {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 40px;
    margin: 20px; 
    text-align: center;
    width: 25%;
    transition: all 0.2s ease-in-out;
}

.trio section a {
    color: #000000;
}

.trio section:hover {
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.6);
    transition: all 0.2s ease-in-out;
}

.trio h2 {
    margin-top: 0;
    padding-bottom: 20px;
}




/* Forms */

.form-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    background-image: linear-gradient(#EE43FF, #7F33FF);
    padding: 20px 100px;
    border-radius: 50px;
    box-shadow: 0 0 20px 2px #000000;
    width: 400px;

}



.form-centre {
    display: flex;
    justify-content: center;
}

form {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}


input {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 5px; 
    font-size: 16px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 7px #9227F0;
    margin-top: 20px;
    cursor: pointer;
   
}

input:focus {
    background-color: #E1E1E1;

    box-shadow: 
        0px 0px 8px #000000,
        inset 0 0 3px #000000;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 40px;
    margin: 20px auto; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: auto;
}

.login_form input {
    box-shadow: none;
    border: none;
    width: 300px;
    margin: 20px auto;
    border-top: none;
}


.login_form h2 {
    margin: 0;
}


/* Relief Form */

.explanation {
    margin: 50px 100px;
    padding: 0 100px;
    font-size: 17px;
}

.custom-checkbox {
    display: flex;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;

}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox-label, .mood_response input[type="radio"]:checked + label{
    background-image: linear-gradient(#CC43EF, #9227F0);
    color: #FFFFFF;
    box-shadow: 
        0 0 3px #000000,
        inset #000000 0px 0px 3px;
}

.mood input[type="radio"]:checked + label {
    color: #000000;
    background-color: #DD43FF;

    box-shadow: 
        0px 0px 8px 1px #000000,
        inset 0 0 3px #9227F0;
}

.relief {
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20%;
    background-image: linear-gradient(rgb(255, 255, 255, 0.6), rgb(255, 255, 255, 0.4));
    border-radius: 30px;
    box-shadow: 0 0 20px 3px #000000;
}

.relief ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Index Form */

.mood ul, .mood_response ul {
    display: flex;
    justify-content: space-evenly;
}

.mood {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mood input[type="radio"], .mood_response input[type="radio"] {

    display: none;
}

.neg, .pos, .okay, .neg_no, .pos_no, .negative, .positive {
    display: none;
}

@keyframes collapse {
    0% {
        opacity: 1;
        max-height: 1000px; /* Set to a high value */
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

@keyframes expand {
    0% {
        opacity: 0;
        max-height: 0;
    }
    100% {
        opacity: 1;
        max-height: 1000px; /* Set to a high value */
    }
}


.hidden {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    animation: collapse 1s ease;
}

.visible {
    opacity: 1;
    max-height: 1000px; /* Set to a high value */
    visibility: visible;
    animation: expand 1s ease;
}

#moodForm h2 {
    padding: 10px 0 30px 0;
    margin-top: 0;
}


/* Index and Relief Form */

.custom-checkbox-label {
    display: inline-block;
    padding: 5px;
    border-radius: 9px;
    box-shadow: #222222 0 0 4px;
    background-image: linear-gradient(rgb(255, 255, 255, 0.3), rgb(230, 230, 230, 0.2));
    margin: 5px;
    cursor: pointer;
}

.mood label {
    display: inline-block;
    padding: 5px 5px 0 5px;
    border-radius: 30px;
    
    
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mood label:hover {
    box-shadow: 0 0 10px #000000;
    transition: all 0.2s ease-in-out;
}

.mood_response label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: #222222 0 0 4px;
    background-image: linear-gradient(rgb(255, 255, 255, 0.3), rgb(230, 230, 230, 0.2));
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mood_response ul {
    margin-bottom: 20px;
}


.mood_image {
    border-radius: 50%;
    box-shadow: #222222 0 0 10px;
    display: flex;
    flex-direction: column;
}

#good_label, #okay_label, #bad_label {
    text-shadow: 0 0 5px #000000;
    display: flex;
    flex-direction: column;
}

#good_label img, #okay_label img, #bad_label img {
    margin-bottom: 20px;
}

#good_label {
    color: #55CC55;
}

#okay_label {
    color: #FFFF99;
}

#bad_label {
    color: #AACCFF;
}



/* Relief Resources */

.relief_resources {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px #000000;
    transition: all 0.2s ease-in-out;
    margin: 25px 50px;

}

.relief_resources h3 {
    color: #FFFFFF;
    margin-top: 0;
    font-size: 22px;
    text-shadow:
        0.05em 0 2px #662299,
        0 0.05em 2px #662299,
        -0.05em 0 2px #662299,
        0 -0.05em 2px #662299,
        -0.05em -0.05em 2px #662299,
        -0.05em 0.05em 2px #662299,
        0.05em -0.05em 2px #662299,
        0.05em 0.05em 2px #662299;
    transition: all 0.2s ease-in-out;

}

.relief_resources:hover h3 {
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}

.relief_resources:hover {
    box-shadow: 0 0 10px 4px #000000;
    transition: all 0.2s ease-in-out;
}

/* Resource_Info */

.description {
    background-image: linear-gradient(#EE43FF, #7F33FF);
    padding: 20px 100px;
    border-radius: 50px;

}

.description h1 {
    padding: 0;
}

.description p {
    margin-top: 20px;
}

.resource_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 50px;
    color: #FFFFFF;
    text-shadow: #777777 0px 0px 5px;
}

.resource_image img{
    height: 300px;
    border-radius: 180px;
}

.resource_image {
    display: flex;
    margin: 50px 100px 50px 50px;

}

.resource_url {
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(200, 200, 200, 0.2));
    margin: 30px 100px;
    padding: 20px 100px;
}

iframe {
    border-radius: 10px;
    margin: 20px 20%;
}

.small_video {
    margin: 20px 30%;
}

.resource_url h2 {
    padding: 0;
    margin: 0;
    color: #FFFFFF;

}

.resource_url ul li {
    padding: 20px 0;
    color: #FFFFFF;
}

.resource_url ul li a {
    color: #EE43FF;
    text-shadow:
        0.05em 0 2px #662299,
        0 0.05em 2px #662299,
        -0.05em 0 2px #662299,
        0 -0.05em 2px #662299,
        -0.05em -0.05em 2px #662299,
        -0.05em 0.05em 2px #662299,
        0.05em -0.05em 2px #662299,
        0.05em 0.05em 2px #662299;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.resource_url ul li a:hover {
    text-shadow:
        0.05em 0 4px #662299,
        0 0.05em 4px #662299,
        -0.05em 0 4px #662299,
        0 -0.05em 4px #662299,
        -0.05em -0.05em 4px #662299,
        -0.05em 0.05em 4px #662299,
        0.05em -0.05em 4px #662299,
        0.05em 0.05em 4px #662299;
    transition: all 0.1s ease-in-out;
}

/* Gratitude */

.gratitude_entry {
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255, 0.8), rgba(229, 255, 255, 0.6));
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    margin: 20px 100px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.4)
}

.gratitude_entry:nth-of-type(2n) {
    border-radius: 20px;
    padding: 20px 100px;
    display: flex;
    margin-left: 20%;
}

.gratitude_form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    column-gap: 20px;
}

.gratitude_form input:nth-of-type(2) {
    margin-top: 0;
    width: 250px;
    height: 40px;
    align-self: center;
}

.entry {
    font-size: 19px;
    margin-bottom: 10px;
}

.name {
    font-size: 15px;
    
    font-style: italic;
    align-self: flex-end;
    margin-top: auto; /* Push it to the bottom */
    font-size: 15px;
}

.delete {
    align-self: flex-end;
    font-size: 15px;

}

.neat-submit-button {
    background-image: linear-gradient(45deg, #C947F1, #9227F0);
    border: none;
    color: #FFFFFF;
    align-self: center;
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: #662299 0 0 4px;
    font-weight: 600;
    
}


.neat-submit-button:hover {
    box-shadow: inset 0 0 5px #662299;
}

.neat-submit-button:active {
    transform: translateY(2px);
}



@media screen and (max-width: 1000px) {

    
    
    /* General Style */
    
    main {
        margin: 0;
        padding: 0;
    }

    



    nav {
        padding: 30px 20px;
        color: #000000;
        display: flex;
        justify-content: space-between;
    }
    
    nav .links {
        height: 100vh;
        position: fixed;
        display: flex;
        top: 0;
        left: -70%;
        width: 70%;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: all 1000ms ease-in-out;
        background-image: linear-gradient(#662299, #A133CC, #C947F1, #D988FF, #FFFFFF);

    }

    nav .openMenu {
        display: block;
        color: #000000;
        font-size: 40px;
        cursor: pointer;
        justify-self: flex-start;
        margin-left: 20px;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 40px;
        margin-left: 20px;

    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    nav ul li, .login {
        text-align: left;
        padding: 30px;
        font-size: 35px;
    }

    nav ul li::after {
        content: "";
        display: block; 
        border-bottom: 1px solid #000000; 
        margin-top: 5px; 
    }



    .title {
        font-size: 35px;
        text-align: center;
        justify-self: flex-end;
        align-self: center;
        padding-right: 20px;
    }


    .login {
        justify-self: flex-start;
    
    }

    .login ul {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }

    .login ul li {
        font-size: 22px;
    }

    h1 {
        text-align: center;
        font-size: 45px;

    }


    h2:first-of-type {
        margin-top: 50px;
        padding: 0 20px;
    }


    /* Index */
    

    .smiley.initial-size img {

        height: 200px;
    }

    .quote.initial-size {
        margin-top: 30%;
        font-size: 40px;
    }

    .quote.smaller-size {
        margin-top: 20px;
        font-size: 40px;
        
    }

    .trio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px 0;
        padding: 0;

    }

    .trio section {
        background-color: rgb(255, 255, 255, 0.4);
        border-radius: 20px;
        padding: 40px;
        text-align: center;
        width: 60%;
        transition: all 0.2s ease-in-out;
        margin: 20px auto;
    }

    .trio section h2 {
        margin-top: 0;
        padding-bottom: 20px;
    }


    .trio section:hover {
        background-color: rgb(255, 255, 255, 0.6);
        box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.6);
        transition: all 0.2s ease-in-out;
    }

    

    .form-box {
        display: flex;
        flex-direction: column;
        margin: 30px;
        background-image: linear-gradient(#EE43FF, #7F33FF);
        padding: 20px;
        border-radius: 50px;
        box-shadow: 0 0 20px 2px #000000;
        width: 80%;
    }


    .form-box label {
        margin: 0;
        padding: 8px;
    }

    /* Relief */

    .explanation {
        margin: 50px;
        padding: 0 50px;
        font-size: 17px;
        text-align: center;
    }
    
    .relief {
        display: flex;
        justify-self: center;
        margin: 100px 10%;
    }
    
    .relief ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    /* Resource_Info */

    .description {
        background-image: linear-gradient(#EE43FF, #7F33FF);
        padding: 20px 40px;
        border-radius: 30px;


    }

    

    

    .resource_info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 50px;
        color: #FFFFFF;
        text-shadow: #777777 0px 0px 5px;
    }

    .resource_image img{
        height: 200px;
        width: 250px;
        border-radius: 180px;
        margin-bottom: 50px;
        box-shadow: 0 0 20px #670099;
    }

    .resource_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 50px 0;
        padding: 0;
    }

    .resource_url {
        border-radius: 30px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(200, 200, 200, 0.2));
        margin: 30px 50px;
        padding: 20px 50px;
    }

    iframe {
        border-radius: 10px;
        margin: 20px 20%;
        height: 200px;
    }

    .resource_url h2 {
        padding: 0;
        margin: 0;
        color: #FFFFFF;

    }

    .resource_url ul li {
        padding: 20px 0;
        color: #FFFFFF;
    }

    .resource_url ul li a {
        color: #EE43FF;
        text-shadow:
            0.05em 0 2px #662299,
            0 0.05em 2px #662299,
            -0.05em 0 2px #662299,
            0 -0.05em 2px #662299,
            -0.05em -0.05em 2px #662299,
            -0.05em 0.05em 2px #662299,
            0.05em -0.05em 2px #662299,
            0.05em 0.05em 2px #662299;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
    }
    .resource_url ul li a:hover {
        text-shadow:
            0.05em 0 4px #662299,
            0 0.05em 4px #662299,
            -0.05em 0 4px #662299,
            0 -0.05em 4px #662299,
            -0.05em -0.05em 4px #662299,
            -0.05em 0.05em 4px #662299,
            0.05em -0.05em 4px #662299,
            0.05em 0.05em 4px #662299;
        transition: all 0.1s ease-in-out;
    }

    .login_form {
        margin: 30px;
    }

    .login_form input {
       
        width: auto;
        
    }

    .centre {
        
        font-size: 40px;
    }

    }

@media screen and (max-width: 500px) {
    
    h1 {
        text-align: center;
        padding: 0;
    }

    nav ul li, .login {
        padding: 20px;
        font-size: 25px;
    }

    .login ul li {
        margin-top: 50px;
        font-size: 16px;
        padding: 5px;
    }

    nav .openMenu, nav .closeMenu {
        font-size: 25px;
    }

    .title {
        font-size: 20px;
    }

    /* Index */

    .smiley.initial-size img {
        height: 100px;
    }

    .quote.initial-size {
        
        font-size: 25px;
    }

    .quote.smaller-size {
        
        font-size: 25px;
        
    }

   


    /* Relief */

    .relief {
        margin: 20px 10%;
    }

    /* Gratitude */

    .gratitude_entry {
        width: auto;
        margin: 20px;
    }

    .gratitude_entry:nth-of-type(2n) {
        margin: 20px;
    }

    .explanation {
        margin: 50px 20px;
        padding: 0 20px;
        font-size: 17px;
    }




}
