/* General Style */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    
}
body {
    background-image: linear-gradient(#AA43EA, #EE79FF, #5F33FF);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 0 50px;
    
}

footer {
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 70px;
}

nav .openMenu, nav .closeMenu {
    display: none;
}

.openMenu i, .closeMenu i {
    color: #FFFFFF;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
}

li {
    list-style: none;
    
}


a {
    text-decoration: none;
    color: #FFFFFF    
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: #777777 0px 0px 5px;
    text-align: left;
}

.links {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.menu {
    justify-self: center;
}



.login {
    justify-self: flex-end;
}

h1 {
    padding-left: 50px;
}

h2, h3 {
    text-align: center;
}

h2:first-of-type {
    margin-top: 50px;
}

.centre {
    text-align: center;
    color: #FFFFFF;
    padding-left: 0;
    margin-top: 50px;
    font-size: 50px;
}

.alert {
    color: #FFFFFF;
    background-color: rgb(20, 20, 20, 0.4);
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.alert-success {
    color: #FFFFFF;
    background-color: #43CCEF;
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Div Classes */

.images img {
    height: 100px;
    border-radius: 180px;
    transition: all 0.2s ease-in-out;


}

.resources {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    flex-wrap: wrap;
    flex-direction: row;
}

.images {
    margin: 20px;
    background-image: linear-gradient(#EE79FF, #AA43EA, #5F33FF);
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    width: 250px;
    color: #FFFFFF;
}

.images p, .images h3 {
    text-align: center;
    margin: 10px

}

.images h3 {
    color: #000000;

}

.images:hover img {
    height: 110px;
    transition: all 0.2s ease-in-out;
}

.reveal {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Index */

@keyframes easeInOutCubic {
    0%, 100% {
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    50% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

.smiley {
    transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.smiley.initial-size img {
    height: 200px;
}

.smiley.smaller-size img {
    height: 50px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.quote {
    transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.quote.initial-size {
    height: 100vh;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.quote.initial-size p {
    padding-top: 70px;
}

.quote.smaller-size {
    height: 30vh;
    padding: 20px 20px 50px 20px;
    text-align: center;
    font-size: 30px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.smaller-size p {
    padding-top: 20px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.smiley {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.trio {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 50px 0;

}

.trio section {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 40px;
    margin: 20px; 
    text-align: center;
    width: 25%;
    transition: all 0.2s ease-in-out;
}

.trio section a {
    color: #000000;
}

.trio section:hover {
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.6);
    transition: all 0.2s ease-in-out;
}

.trio h2 {
    margin-top: 0;
    padding-bottom: 20px;
}


/* Forms */

.form-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    /* background-image: linear-gradient(#1ED6C4, #2BB8BD); */
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 20px 2px #000000;
    width: 400px;
    padding: 50px
}

.form-centre {
    display: flex;
    justify-content: center;
}

form {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}


input {
    display: inline-block;
    text-align: center;
    border-radius: 9px;
    border: none;
    padding: 5px; 
    font-size: 16px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 5px #444444;
    margin-top: 20px;
    cursor: pointer;
   
}

input:focus {
    background-color: #E1E1E1;

    box-shadow: 
        0px 0px 8px #000000,
        inset 0 0 3px #000000;
}




/* Relief Form */

.explanation {
    margin: 50px 100px;
    padding: 0 100px;
    font-size: 17px;
}

.custom-checkbox {
    display: flex;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;

}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox-label{
    background-image: linear-gradient(#EE43FF, #CC43EF);
    color: #FFFFFF;
    box-shadow: #FFFFFF 0px 0px 5px;
}

.mood input[type="radio"]:checked + label {
    color: #000000;
    background-color: #E1E1E1;

    box-shadow: 
        0px 0px 8px #000000,
        inset 0 0 3px #000000;
}

.relief {
    display: flex;
    justify-self: center;
    margin: 20px 20%;
}

.relief ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Index Form */

.mood ul {
    display: flex;
    justify-content: space-evenly;
}

.mood input[type="radio"] {

    display: none;
}

#moodForm h2 {
    padding: 10px 0 30px 0;
    margin-top: 0;
}
/* Index and Relief Form */

.mood label, .custom-checkbox-label {
    display: inline-block;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 
        inset #222222 0px 0px 5px,
        #222222 0 0 3px;
    
    margin: 5px;
    cursor: pointer;
}

.negative, .positive, .okay, .neg, .pos {
    display: none;
}

/* Relief Resources */

.relief_resources {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px #000000;
    transition: all 0.2s ease-in-out;
    margin: 25px 50px;

}

.relief_resources h3 {
    color: #FFFFFF;
    margin-top: 0;
    font-size: 22px;
    text-shadow:
        0.05em 0 2px #662299,
        0 0.05em 2px #662299,
        -0.05em 0 2px #662299,
        0 -0.05em 2px #662299,
        -0.05em -0.05em 2px #662299,
        -0.05em 0.05em 2px #662299,
        0.05em -0.05em 2px #662299,
        0.05em 0.05em 2px #662299;
    transition: all 0.2s ease-in-out;

}

.relief_resources:hover h3 {
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}

.relief_resources:hover {
    box-shadow: 0 0 10px 4px #000000;
    transition: all 0.2s ease-in-out;
}

/* Resource_Info */

.description {
    background-image: linear-gradient(#EE43FF, #7F33FF);
    padding: 20px 100px;
    border-radius: 50px;

}

.description h1 {
    padding: 0;
}

.description p {
    margin-top: 20px;
}

.resource_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 50px;
    color: #FFFFFF;
    text-shadow: #777777 0px 0px 5px;
}

.resource_image img{
    height: 300px;
    border-radius: 180px;
}

.resource_image {
    display: flex;
    margin: 50px 100px 50px 50px;

}

.resource_url {
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(200, 200, 200, 0.2));
    margin: 30px 100px;
    padding: 20px 100px;
}

iframe {
    border-radius: 10px;
    margin: 20px 20%;
}

.resource_url h2 {
    padding: 0;
    margin: 0;
    color: #FFFFFF;

}

.resource_url ul li {
    padding: 20px 0;
    color: #FFFFFF;
}

.resource_url ul li a {
    color: #EE43FF;
    text-shadow:
        0.05em 0 2px #662299,
        0 0.05em 2px #662299,
        -0.05em 0 2px #662299,
        0 -0.05em 2px #662299,
        -0.05em -0.05em 2px #662299,
        -0.05em 0.05em 2px #662299,
        0.05em -0.05em 2px #662299,
        0.05em 0.05em 2px #662299;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.resource_url ul li a:hover {
    text-shadow:
        0.05em 0 4px #662299,
        0 0.05em 4px #662299,
        -0.05em 0 4px #662299,
        0 -0.05em 4px #662299,
        -0.05em -0.05em 4px #662299,
        -0.05em 0.05em 4px #662299,
        0.05em -0.05em 4px #662299,
        0.05em 0.05em 4px #662299;
    transition: all 0.1s ease-in-out;
}

/* Gratitude */

.gratitude_entry {
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(#1ED6C4, #2BB8BD);
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    margin: 20px 100px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.4)
}

.gratitude_entry:nth-of-type(2n) {
    border-radius: 20px;
    background-image: linear-gradient(#EE43FF, #7F33FF);
    padding: 20px 100px;
    display: flex;
    margin-left: 20%;
}

.gratitude_form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    column-gap: 20px;
}

.gratitude_form input:nth-of-type(2) {
    margin-top: 0;
    width: 250px;
    height: 40px;
    align-self: center;
}

.entry {
    font-size: 19px;
    margin-bottom: 10px;
}

.name {
    font-size: 15px;
    
    font-style: italic;
    align-self: flex-end;
    margin-top: auto; /* Push it to the bottom */
    font-size: 15px;
}

.delete {
    align-self: flex-end;
    font-size: 15px;

}

.neat-submit-button {
    background-color: #F9F9F9;
    color: #000000;
    border: none;
    align-self: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #000000 0 0 2px;
}


.neat-submit-button:hover {
    background-color: #2BB8BD;
}

.neat-submit-button:active {
    transform: translateY(2px);
}



@media screen and (max-width: 1000px) {

    
    
    /* General Style */
    
    main {
        margin: 0;
        padding: 0;
    }

    

    nav {
        padding: 30px 20px;

    }

    nav {
        color: #000000;
        display: flex;
        justify-content: space-between;
    }
    
    nav .links {
        height: 100vh;
        position: fixed;
        display: flex;
        top: 0;
        left: -80%;
        width: 70%;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(#1ED6C4, #000000);
        box-shadow: 0 0 50px 10px #000000;
        transition: all 1000ms ease-in-out;
    }

    nav .openMenu {
        display: block;
        color: #000000;
        font-size: 30px;
        cursor: pointer;
        justify-self: flex-start;
    }

    nav .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 30px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    nav ul li, .login {
        text-align: left;
        padding: 20px;
        font-size: 25px;
    }

    nav ul li::after {
        content: "";
        display: block; 
        border-bottom: 1px solid #000000; 
        margin-top: 5px; 
    }



    .title {
        font-size: 18px;
        text-align: center;
        justify-self: flex-end;
        align-self: center;
    }


    .login {
        justify-self: flex-start;
    
    }

    .login ul {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }

    .login ul li {
        font-size: 16px;
    }

    h1 {
        padding-left: 50px;
    }


    h2:first-of-type {
        margin-top: 50px;
        padding: 0 20px;
    }


    /* Index */

    .smiley.initial-size img {
        height: 100px;
    }

    .quote.initial-size {
        
        font-size: 25px;
    }

    .quote.smaller-size {
        
        font-size: 25px;
        
    }

    .trio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px 0;
        padding: 0;

    }

    .trio section {
        background-color: rgb(255, 255, 255, 0.4);
        border-radius: 20px;
        padding: 40px;
        text-align: center;
        width: 60%;
        transition: all 0.2s ease-in-out;
        margin: 20px auto;
    }

    .trio section h2 {
        margin-top: 0;
    }


    .trio section:hover {
        background-color: rgb(255, 255, 255, 0.6);
        box-shadow: 0 0 10px 2px rgb(255, 255, 255, 0.6);
        transition: all 0.2s ease-in-out;
    }


    /* Relief */

    .explanation {
        margin: 50px 50px;
        padding: 0 50px;
        font-size: 17px;
    }
    
    .relief {
        display: flex;
        justify-self: center;
        margin: 20px 10%;
    }
    
    .relief ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }




    }