{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block main %}

<div>
    <h1>Resources</h1>
</div>

<div class="resources">
    {% set counter = 0 %}
    {% for resource in resource_list %}
        {% if counter < 3 %}
            <div class="images reveal active">
                <a href="{{ url_for('resource_info', id=resource.id) }}">
                    <h3>{{ resource.name }}</h3>
                    <img src="{{ resource.images }}" alt="{{ resource.name }}">
                    <p>{{ resource.description }}</p>
                </a>
            </div>
            {% set counter = counter + 1 %}
        {% else %}
            <div class="images reveal">
                <a href="{{ url_for('resource_info', id=resource.id) }}">
                    <h3>{{ resource.name }}</h3>
                    <img src="{{ resource.images }}" alt="{{ resource.name }}">
                    <p>{{ resource.description }}</p>
                </a>
            </div>
            {% set counter = counter + 1 %}
        {% endif %}
    {% endfor %}
</div>








{% endblock %}