{% extends 'base.html' %}

{% block title %}Gratitude{% endblock %}


{% block main %}

<h1>Gratitude Journal</h1>

<div class="explanation">
    <p>Gratitude is more than a polite gesture. It is a scientifically-backed tool for well-being. Research shows that practicing gratitude can boost mood, reduce stress, and increase life satisfaction. It activates brain regions linked to positivity and fosters stronger social connections.<br><br> In a busy world, gratitude offers a simple yet impactful way to enhance our mental and emotional health.</p>
</div>

<h2>Share what you're grateful for with the community</h2>
<form class="gratitude_form" method="POST" action="">
    {{ form.hidden_tag() }}
    {% if session['logged_in'] == False %}
        <h4>Please <a href="{{ url_for('main.login') }}">log in</a> to post.</h4>
    {% else %}
        {{ form.gratitude(placeholder="What are you grateful for?") }}
        <button type="submit" class="neat-submit-button">Submit</button>
    {% endif %}
</form>

<div class="gratitude_journal">
    {% for key, entry in gratitude_journal.items() %}
    {% if entry %}
        <div class="gratitude_entry">
            <div class="entry">{{ entry.gratitude }}</div>
            <div class="name">{{ entry.name }} - {{ entry.date }}</div>
            {% if session['user'] == entry.id %}
                <div class="delete">
                    <a href="{{ url_for('main.delete', key=key) }}">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

</div>









{% endblock %}