{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block main %}

<script>
    setTimeout(() => {
        const quoteElement = document.querySelector(".quote");
        const smiley = document.querySelector(".smiley");


        quoteElement.classList.remove("initial-size");
        smiley.classList.remove("initial-size");

        quoteElement.classList.add("smaller-size");
        smiley.classList.add("smaller-size");
    }, 2000);
</script>

<div class="quote initial-size">
    <div class="smiley initial-size">
        <img src="https://freesvg.org/img/Button---Happy.png" alt="Smiley Face">
    </div>
    <p><strong>"{{ quote }}"</strong><small> <br>- {{ author }}</small></p>
</div>

{% if session['logged_in'] %}
    <h1 class="centre">Hello {{ accounts[session['user'] - 1]['name'] }}</h1>
{% else %}
    <h1 class="centre">Welcome to BeWell</h1>
{% endif %}


<div class="trio reveal">
    <section><a href="{{ url_for('main.relief') }}">
        <h2>Find Relief</h2>
        <p>If you are in need of relief from unwanted feelings, we can help. Just select the symptoms that you are experiencing and we will provide you with appropriate resources to help you find a state of calm.</p></a>
    </section>
    <section><a href="{{ url_for('main.gratitude') }}">
        <h2>Give Thanks</h2>
        <p>The power of gratitude is widely researched and proven to help bring positivity and well-being into one's life. Tell our community what you are grateful for today and start reaping the benefits of a more positive lifestyle.</p></a>
    </section>
    <section><a href="{{ url_for('main.resources') }}">
        <h2>Explore Resources</h2>
        <p>Whether you are looking to create a self-care plan or just curious, our resources page will provide you with all the proven methods and exercises for a healthier mental well-being.</p></a>
    </section>
</div>
<div class="form-centre reveal">
    <div class="form-box">
        <form id="moodForm" class="visible" method="POST" action="">
            <h2>How are you feeling?</h2>
            {{ form.hidden_tag() }}
            <div class="mood">
                <label id="bad_label">
                    <img src="{{ url_for('static', filename='images/sad.png')}}" height="100px" alt="Sad Face" class="mood_image">
                    <input type="radio" name="mood" value="Awful">
                    Bad
                </label>
                <label id="okay_label">
                    <img src="{{ url_for('static', filename='images/okay.png')}}" height="100px" alt="Okay Face" class="mood_image">
                    <input type="radio" name="mood" value="okay">
                    Okay
                </label>
                <label id="good_label">
                    <img src="{{ url_for('static', filename='images/happy.png')}}" height="100px" alt="Happy Face" class="mood_image">
                    <input type="radio" name="mood" value="Amazing">
                    Good
                </label>
            </div>
        </form>
        <h3 class="neg hidden">Sorry to hear that. Would you like to find some relief?</h3>
        <h3 class="okay hidden">Would you like to find some relief?</h3>
        <form class="negative hidden" method="POST" action="">
            {{ negative_form.hidden_tag()}}
            <div class="mood_response">
                {{negative_form.neg_selection }}
                <button type="submit" class="neat-submit-button">Submit</button>
            </div>

        </form>

        <h3 class="neg_no hidden">Hang in there</h3>
        

        <h3 class="pos hidden">That's great! Would you like to post in the community gratitude journal?</h3>
        <form class="positive hidden" method="POST" action="">
            {{ positive_form.hidden_tag()}}
            <div class="mood_response">
                {{ positive_form.pos_selection }}
                <button type="submit" class="neat-submit-button">Submit</button>
            </div>

            
        </form>
        <h3 class="pos_no hidden">Keep on smiling</h3>
    </div>
    
</div>

<script>

    
var form = document.getElementById('moodForm');
document.addEventListener('DOMContentLoaded', function () {
    if (form) {
        var moodImages = document.querySelectorAll('.mood img');
        
        moodImages.forEach(function(image) {
            image.addEventListener('click', function(event) {
                event.preventDefault();
                var selectedMood = image.nextElementSibling.value;

                if (selectedMood === 'Awful') {
                    negativeSelection(event);
                } else if (selectedMood === "Amazing") {
                    positiveSelection(event);
                } else {
                    okaySelection(event);
                }
            });
        });
    }
});

function negativeSelection(event) {
    form.classList.add('hidden');
    form.classList.remove('visible');
    var negativeForm = document.getElementsByClassName('negative')[0];
    var negativeHeading = document.getElementsByClassName('neg')[0];
    negativeForm.classList.remove('hidden');
    negativeHeading.classList.remove('hidden');
    negativeHeading.style.display = "block";
    negativeForm.style.display = "block";
    negativeForm.classList.add('visible');
    negativeHeading.classList.add('visible');
    negativeForm.addEventListener('submit', function (event) {
        if (negativeForm) {
            var negativeInput = negativeForm.elements['neg_selection'];
            negativeMood = negativeInput.value;
            if (negativeInput.value === 'No') {
                event.preventDefault();
                negativeForm.classList.remove('visible');
                negativeHeading.classList.remove('visible');
                negativeForm.classList.add('hidden');
                negativeHeading.classList.add('hidden');
                setTimeout(function () {
                    form.style.display = 'none'
                    negativeForm.style.display = 'none';
                    negativeHeading.style.display = 'none';
                }, 900); // Match the animation duration
                negativeResponse();
            }
        }
    });
}




function negativeResponse() {
    var negativeResponse = document.getElementsByClassName('neg_no')[0];
    setTimeout(function () {
        negativeResponse.classList.add('visible')
        negativeResponse.style.display = 'block';
        neg
        negativeResponse.style.margin = '0 auto';

    }, 800);

}

function okaySelection(event) {
    form.classList.add('hidden');
    form.classList.remove('visible');
    var negativeForm = document.getElementsByClassName('negative')[0];
    var okayHeading = document.getElementsByClassName('okay')[0];
    negativeForm.classList.remove('hidden');
    okayHeading.classList.remove('hidden');
    okayHeading.style.display = "block";
    negativeForm.style.display = "block";
    negativeForm.classList.add('visible');
    okayHeading.classList.add('visible');
    negativeForm.addEventListener('submit', function (event) {
        if (negativeForm) {
            var okayInput = negativeForm.elements['neg_selection'];
            okayMood = okayInput.value;
            if (okayInput.value === 'No') {
                event.preventDefault();
                negativeForm.classList.remove('visible');
                okayHeading.classList.remove('visible');
                negativeForm.classList.add('hidden');
                okayHeading.classList.add('hidden');
                setTimeout(function () {
                    form.style.display = 'none'
                    negativeForm.style.display = 'none';
                    okayHeading.style.display = 'none';
                }, 900); // Match the animation duration
                negativeResponse();
            }
        }
    });
}

function positiveResponse() {
    var positiveResponse = document.getElementsByClassName('pos_no')[0];
    setTimeout(function () {
        positiveResponse.classList.add('visible')
        positiveResponse.style.display = 'block';
        neg
        positiveResponse.style.margin = '0 auto';

    }, 800);
}

function positiveSelection(event) {
    form.classList.add('hidden');
    form.classList.remove('visible');
    var positiveForm = document.getElementsByClassName('positive')[0];
    var positiveHeading = document.getElementsByClassName('pos')[0];
    positiveForm.classList.remove('hidden');
    positiveHeading.classList.remove('hidden');
    positiveHeading.style.display = "block";
    positiveForm.style.display = "block";
    positiveForm.classList.add('visible');
    positiveHeading.classList.add('visible');
    positiveForm.addEventListener('submit', function (event) {
        if (positiveForm) {
            var positiveInput = positiveForm.elements['pos_selection'];
            positiveMood = positiveInput.value;
            if (positiveInput.value === 'No') {
                event.preventDefault();
                positiveForm.classList.remove('visible');
                positiveHeading.classList.remove('visible');
                positiveForm.classList.add('hidden');
                positiveHeading.classList.add('hidden');
                setTimeout(function () {
                    form.style.display = 'none'
                    positiveForm.style.display = 'none';
                    positiveHeading.style.display = 'none';
                }, 900); // Match the animation duration
                positiveResponse();
            }
        }
    });
}


</script>


{% endblock %}