{% extends 'base.html' %}

{% block title %}Relief{% endblock %}

{% block main %}
<h1>Find Some Relief</h1>
<div class="explanation">
    <p>If you are in need of relief from overwhelming emotional or physical sensations, select all relevant symptoms below and we will provide you with proven methods and exercises to help combat the specific sensations.</p>
</div>
<div class="relief">
    <h2>Take a moment to observe what is going on inside your body and mind. <br>What are you feeling right now?</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <ul>
                {% for choice, label in form.relief.choices %}
                    <li>
                        <label class="custom-checkbox">
                            <input type="checkbox" name="{{ form.relief.name }}" value="{{ choice }}">
                            <span class="custom-checkbox-label">{{ label }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="neat-submit-button">Submit</button>
        </form>
    </div>
{% endblock %}
