{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block main %}

<div>
    <h1>Resources</h1>
</div>


{% for feeling in selected_feelings %}


<h1 class="centre_small">Resources for {{ feeling }}</h1>
<div class="resources">
    {% for resource in filtered_items %}
        {% if feeling.lower() in resource["symptoms"].lower()%}
        <a href="{{ url_for('main.resource_info', id=resource.id) }}">
            <div style="background-image: url('{{ resource.images }}'); background-size: cover; background-repeat: no-repeat;" class="images relief_resources">
                <h3>{{ resource.name }}</h3>
                
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}